<!DOCTYPE html>
<html>
<head>
  <title>Recibo condominio</title>
  <link rel="stylesheet" href="css/servicios.css">
  <link rel="shortcut icon" href="imag/building_auzzn3wxu3v5.svg" type="image/x-icon">
</head>
<body>
  <div class="toggle-container">
    <button id="dark-mode-toggle" aria-label="Toggle dark mode">
      <img src="https://cdn.icon-icons.com/icons2/2751/PNG/96/dark_mode_half_moon_icon_176153.png" alt="Dark mode icon">
    </button>
  </div>
  <div class="sidebar">
    <div class="logo-container">
      <div class="logo">TuCondominio</div>
    </div>
    <ul id="sidebarList">
      <li><a href="principal.html">Estado de cuenta propietario</a></li>
      <li><a href="recibo.html">Recibo de condominio</a></li>
      <li><a href="servicios.html">Servicios</a></li>
      <li><a href="agente.html">Contactar con agente</a></li>
      <li><a href="inicio.html">Cerrar Sesion</a></li>
    </ul>
  </div>
  <div class="content">
    <h1>COMUNICATE CON NOSOTROS</h1>
    <div class="course-name">Residencia San Miguel 33-B</div>

    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatbot</title>
  <link rel="stylesheet" href="chatbot.css">
</head>
<body>
  <div class="chatbot-box">
    <h2>Chatbot</h2>
    <div class="options">
      <button onclick="redirectWhatsApp('DESEO CONOCER MI SALDO PENDIENTE')">DESEO CONOCER MI SALDO PENDIENTE</button>
      <button onclick="redirectWhatsApp('AYUDA CON SERVICIOS')">AYUDA CON SERVICIOS</button>
      <button onclick="redirectWhatsApp('DESEO HABLAR CON AGENTE')">DESEO HABLAR CON AGENTE</button>
    </div>
  </div>
  <script src="js/agente.js"></script>
</body>
</html>

