<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css">
    <link rel="shortcut icon" href="imag/building_auzzn3wxu3v5.svg" type="image/x-icon">
    
    <title>TuCondominio</title>
</head>
<body>
    <div class="box">
        <div class="container">
            <div class="top-header">
                <span>TuCondominio</span>
                <header>Iniciar Sesión</header>
            </div>

            <form id="loginForm">
                <div class="input-field">
                    <input type="text" class="input" id="username" name="username" placeholder="Usuario" required>
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-field">
                    <input type="password" class="input" id="password" name="password" placeholder="Contraseña" required>
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-field">
                    <input type="submit" class="submit" value="Iniciar Sesión">
                </div>
            </form>

            <div class="bottom">
                <div class="left">
                    <label><a href="registro2.html">Crear cuenta</a></label>
                </div>
                <div class="right">
                    <label><a href="#">¿Olvidaste la contraseña?</a></label>
                </div>
            </div>
        </div>
    </div>

    <script src="js/login.js"></script>
</body>
</html>
