<!DOCTYPE html>
<html>
<head>
  <title>Recibo condominio </title>
  <link rel="stylesheet" href="css/recibo.css">
  <link rel="shortcut icon" href="imag/building_auzzn3wxu3v5.svg" type="image/x-icon">
</head>
<body>
  <body>
    <div class="toggle-container">
     
      <button id="dark-mode-toggle" aria-label="Toggle dark mode">
        <img src="https://cdn.icon-icons.com/icons2/2751/PNG/96/dark_mode_half_moon_icon_176153.png" alt="Dark mode icon">
      </button>
    </div>
    <div class="sidebar">
      <div class="logo-container">
        <div class="logo">TuCondominio</div>
        
      </div>
      <ul id="sidebarList">
        <li><a href="principal.html">Estado de cuenta propietario</a></li>
        <li><a href="recibo.html">Recibo de condominio</a></li>
        <li><a href="servicios.html">Servicios </a></li>
        <li><a href="agente.html">Contactar con agente</a></li>
        <li><a href="inicio.html">Cerrar Sesion</a></li>
      </ul>
    </div>

    <div class="content">
        <h1>RECIBO</h1>
        <div class="course-name">Residencia San Miguel 33-B </div>


        <table class="tabla-principal">
        <thead>
            <tr>
                <th class="cabecera">Código</th>
                <th class="cabecera">Descripción</th>
                <th class="cabecera celda-monto">Monto</th>
                <th class="cabecera">Cuota Parte</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>00006</td>
                <td>SALARIO TRABAJADOR RESIDENCIAL</td>
                <td class="celda-monto">130,00</td>
                <td>1,22</td>
            </tr>
            <tr>
                <td class="fila-par">00020</td>
                <td class="fila-par">HIDROCAPITAL 09/24</td>
                <td class="fila-par celda-monto">8.679,52</td>
                <td class="fila-par">81,66</td>
            </tr>
            <tr>
                <td>00021</td>
                <td>ELECTRICIDAD 09/24</td>
                <td class="celda-monto">6.082,30</td>
                <td>57,23</td>
            </tr>

            <tr>
              <td>00021</td>
              <td>ELECTRICIDAD 09/24</td>
              <td class="celda-monto">6.082,30</td>
              <td>57,23</td>
          </tr>
        </tbody>
    </table>
    </div>


</body>

   